<footer class="text-center text-lg-start bg-dark text-light text-muted">
  <section class="pt-1">
    <div class="container text-center mt-5">
      <div class="row mt-3">
        <div class="col-12 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fab fa-connectdevelop"></i> Three Musketeers
          </h6>
          <p>
            The leading company in doing things
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold">ThreeMusketeers</a>
  </div>
</footer>
