<section>
  <div class="text-center" *ngIf="availItems == false">
    <br><br>
    <h1>No items in cart</h1 >
  </div>
  <div *ngIf="availItems">
    <br><br>
    <h2 class="text-center">Your Cart</h2>
    <table class="table align-middle mb-0 bg-dark">
      <thead class="bg-dark">
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let orderDetail of orderList.orderDetails">
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{orderDetail.product.name}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{orderDetail.product.rating}}</p>
        </td>
        <td>
          <div class="input-group mb-3 bg-dark w-25">
            <input
              size="1"
              class="form-control"
              [(ngModel)]="orderDetail.quantity"
            />
            <button class="btn btn-outline-primary" type="button" id="button-addon2" data-mdb-ripple-color="dark" (click)="updateQuantity(orderDetail)">
              <i class="fas fa-check"></i>
            </button>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">${{orderDetail.product.price}}</p>
        </td>
      </tr>
      <tr>
        <td></td><td></td>
        <td><p class="fw-normal mb-1">Total</p></td>
        <td><p class="fw-normal mb-1">${{total}}</p></td>
      </tr>
      </tbody>
    </table>
    <br>
    <div class="d-flex p-2 justify-content-end">
      <button class="btn btn-primary btn-rounded " type="submit" (click)="checkout()" >Checkout</button>
    </div>
  </div>
</section>
