<section class="row d-flex justify-content-center my-5">
  <div class="col-11">
    <div class="card bg-dark text-light">
      <div class="card-header">
        <h1 class="text-center pt-3">Register</h1>
      </div>
      <div class="card-body">
        <div class="text-center" *ngIf="availItems == false">
          <br><br>
          <h1>No items in cart</h1>
        </div>
        <div *ngIf="availItems">
          <br><br>
          <h2 class="text-center">Your Cart</h2>
          <div class="table-responsive">
            <table class="table table-striped align-middle mb-0 bg-dark">
              <thead class="bg-dark">
                <tr>
                  <th>Name</th>
                  <th>Rating</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let orderDetail of orderList.orderDetails">
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="ms-3">
                        <p class="fw-bold mb-1">{{orderDetail.product.name}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">{{orderDetail.product.rating}}</p>
                  </td>
                  <td>
                    <div class="input-group mb-3 bg-dark">
                      <input size="1" class="form-control" [(ngModel)]="orderDetail.quantity" />
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                        data-mdb-ripple-color="dark" (click)="updateQuantity(orderDetail)">
                        <i class="fas fa-check"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">${{orderDetail.product.price}}</p>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <p class="fw-normal mb-1">Total</p>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">${{total}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <div class="d-flex px-2 justify-content-end">
              <button class="btn btn-primary btn-rounded " type="submit" (click)="checkout()">Checkout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>